body, html {
  height: 100%;
}

.bg {
  background-image: url("./images/enchiladas_potosinas.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: green;
  font-size: 55px;
}